<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Balderdash</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src='//code.jquery.com/jquery-1.11.0.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
  </head>
  <body style='text-align:center'>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header"><a href="/games" class="navbar-brand">Project 3 : Group 4</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/games/questions">Questions</a></li>
          <li><a href="/games/Create">Create Game</a></li>
          <li><a href="/games/Join">Join Game</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/profile"><span class="glyphicon glyphicon-UserProfile"></span>Profile</a>
          </li>
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container"></div>
    {{{ body }}}
  </body>
</html>
