extends layout

block content

  h1(style='text-align:center') Create a New Game
  .creatediv(style='text-align:center; color:black')
    .content(style='color:#ff5757')
      span.value
    #create
      h5#wc Welcome!
      h5#ac Please Create a New Game:
      #form_layout
        form#myForm(action='Create', method='post')
          label Choose Number of Players:
          |  
          input#players(name='players', type='text')
          .content(style='color:#ff5757')
            span.invalidPlayers #{invalidPlayers}
          p
          |  
          label Choose Number of Rounds:
          |  
          input#rounds(name='rounds', type='text')
          .content(style='color:#ff5757')
            span.invalidRounds #{invalidRounds}
          p
          |  
          label Choose Category:
          |  
          p.confirm
          input#ludicrousLaws(type="checkbox", name = "ludicrousLaws", checked = (true===false ? "checked" : undefined))
          checkbox.ludicrousLaws Ludicrous Laws
          br
          input#definitions(type="checkbox", name = "definitions", checked = (true===false ? "checked" : undefined))
          checkbox.definitions Definitions
          br
          input#famousPeople(type="checkbox", name = "famousPeople", checked = (true===false ? "checked" : undefined))
          checkbox.famousPeople Famous People
          br
          input#acronyms(type="checkbox", name = "acronyms", checked = (true===false ? "checked" : undefined))
          checkbox.acronyms Acronyms
          br
          input#movieHeadlines(type="checkbox", name = "movieHeadlines", checked = (true===false ? "checked" : undefined))
          checkbox.movieHeadlines Movie Headlines
          .content(style='color:#ff5757')
            span.invalidCategories #{invalidCategories}
          p
          |  
          label Choose Game Name (Optional):
          |  
          input#gameName(name='gameName', type='text')
          .content(style='color:#ff5757')
            span.invalidGameName #{invalidGameName}
          p
          .submitdiv
            .center
              input#submit(type='submit', value='New Game', style='color:blue')

block scripts
  script(src='../js/createValidation.js', type='text/javascript')
