extends layout

block content

  h1(style='text-align:center; padding-top:50px') Create a New Game
  .creatediv(style='text-align:center; color:black')
    .content(style='color:#ff5757')
      span.value
    #create
      h5#wc Welcome!
      h5#ac Please Create a New Game:
      #form_layout
        form#myForm(action='Create', method='post')
          label Choose Number of Players:
          |  
          input#players(name='players', type='text')
          .content(style='color:#ff5757')
            span.invalidPlayers #{invalidPlayers}
          p
          |  
          label Choose Number of Rounds:
          |  
          input#rounds(name='rounds', type='text')
          .content(style='color:#ff5757')
            span.invalidRounds #{invalidRounds}
          p
          |  
          label Choose Category:
          |  
          select(name='categories')
            option(value='words') Words
            option(value='people') People
            option(value='initials') Initials
            option(value='movies') Movies
            option(value='laws') Laws
            option(value='allCategories') All Categories
          p
          |  
          label Choose Game Name (Optional):
          |  
          input#gameName(name='gameName', type='text')
          .content(style='color:#ff5757')
            span.invalidGameName #{invalidGameName}
          p
          .submitdiv
            .center
              input#submit(type='submit', value='New Game')

block scripts
  script(src='../js/createValidation.js', type='text/javascript')
