extends layout

block content

  h1(style='text-align:center; padding-top:50px') Create a New Game
  .creatediv(style='text-align:center; color:black')
    .content(style='color:#ff5757')
      span.value
    #create
      h5#wc Welcome!
      h5#ac Please Create a New Game:
      #form_layout
        form#myForm(action='Create', method='post')
          label Choose Number of Players:
          |  
          input#players(name='players', type='text')
          .content(style='color:#ff5757')
            span.invalidPlayers #{invalidPlayers}
          p
          |  
          label Choose Number of Rounds:
          |  
          input#rounds(name='rounds', type='text')
          .content(style='color:#ff5757')
            span.invalidRounds #{invalidRounds}
          p
          |  
          label Choose Category:
          |  
          p.confirm
          input#words(type="checkbox", name = "words", checked = (true==false ? value = true : value = false))
          checkbox.words Weird Words (Definitions)
          br
          input#people(type="checkbox", name = "people", checked = (true==false ? value = true : value = false))
          checkbox.people Famous People
          br
          input#initials(type="checkbox", name = "initials", checked = (true==false ? value = true : value = false))
          checkbox.initials Incredible Initials (Acronyms)
          br
          input#movies(type="checkbox", name = "movies", checked = (true==false ? value = true : value = false))
          checkbox.movies Movie Headlines
          br
          input#laws(type="checkbox", name = "laws", checked = (true==false ? value = true : value = false))
          checkbox.laws Ludicrous Law
          br
          input#allCategories(type="checkbox", name = "allCategories")
          checkbox.allCategories All
          .content(style='color:#ff5757')
            span.invalidCategories #{invalidCategories}
          p
          |  
          label Choose Game Name (Optional):
          |  
          input#gameName(name='gameName', type='text')
          .content(style='color:#ff5757')
            span.invalidGameName #{invalidGameName}
          p
          .submitdiv
            .center
              input#submit(type='submit', value='New Game')

block scripts
  script(src='../js/createValidation.js', type='text/javascript')
