extends layout

block content
  // Theme CSS
  link(href='/stylesheets/index.css', rel='stylesheet')
  div.body
    h1#homeHeading Chat It Up
    hr
    p A simple client/server chat web application
    p Project 2 : Group 3
    p Group Members : Beth, Dan, David, Jed, Jen and Tim
    a.btn.btn-primary.btn-xl(href='/users/login') ENTER