<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Index</title>
  </head>
  <body>
    <div class="body"></div>
    <h1 id="homeHeading">Chat It Up</h1>
    <hr>
    <p>A simple client/server chat web application</p>
    <p>Project 2 : Group 3</p>
    <p>Group Members : Beth, Dan, David, Jed, Jen and Tim</p><a href="/users/login" class="btn btn-primary btn-xl">ENTER</a>
  </body>
</html>