<h1 id="homeHeading">{{ title }}</h1>
<hr>
<a id="newgame" href="Game/newgame">New Game</a>
<p>A game of Balderdash?</p>
<p>Users create a game room and other players join using the code used to create the room.</p>
<p>The creator of the game selects the number of players for the game and when enough players have joined the</p>
<p>game, the game will start. The reader picks a category, and then the question. All users put in a possible</p>
<p>answer to the question and then all players select from the list of answers for the question.</p>
<p>points are awarded by selecting the correct answer, and tricking other users into selecting your lie,</p>
<p></p>
<p>project 3<p>
<p>Group Members: Brady Adair, Morgan Dahl, Wesley Smith, Glen Taylor, Bryan Winmill, and Danny Xiong</p>

