<h1 id="homeHeading">{{ title }}</h1>
<hr>
<p>A simple client/server chat web application</p>
<p>project 3<p>
<p>Group Members: Brady Adair, Morgan Dahl, Wesley Smith, Glen Taylor, Bryan Winmill, and Danny Xiong</p>