extends layout

block scripts
    script(src='/scripts/_login.js')
    script(src='//kendo.cdn.telerik.com/2017.1.118/js/kendo.all.min.js')

block content
    div.head
        title Dashboard :: Login
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='//cdn.kendostatic.com/2013.3.1119/styles/kendo.common.min.css')
        link(rel='stylesheet', href='//cdn.kendostatic.com/2013.3.1119/styles/kendo.bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/login.css')
    div.body
        
        if error
            p.error ERROR: #{error}

        form(id='register-form', method='POST', action='')
            .box
                h1 LOGIN
                //- hidden input to protect from csrf attacks
                input.register(type="hidden", name="_csrf", value=csrfToken)
                .form-group
                input.register(type='text', name='username', id='username', placeholder='Enter username', required=true, data-required-msg='Username is required')
                .form-group
                input.password(type='password', name='password', id='password', placeholder='Enter password', required=true, data-required-msg='Password is required')
                .form-group
                button#register.btn(type='submit') Login
                //- links to register page
                a(href='/users/register')
                    #btn2 Sign Up
                