extends layout

block content
  // Theme CSS
  link(href='/stylesheets/menu.css', rel='stylesheet')
  div.body
    h1#Heading Balderdash Menu

    div.gameOptions
        div.createGame
            a.btn.btn-primary.btn-xl(href='/Game/Create') Create Game
        div.joinGame
            a.btn.btn-primary.btn-xl(href='/Game/Join') Join Game
    div.questionManag
        a.btn.btn-primary.btn-xl(href='/Game/Questions') Question Management
