extends layout

block content
  // Theme CSS
  link(href='/stylesheets/index.css', rel='stylesheet')
  div.body
    h1#homeHeading View Questions
    hr
    h2#homeHeading Ludacris Laws
    hr
    h3#homeHeading Definitions
    hr
    h4#homeHeading Famous People
    hr
    h5#homeHeading Acronyms
    hr
    h5#homeHeading Movie Headlines
    hr