extends layout

block content
  // Theme CSS
  link(href='/stylesheets/index.css', rel='stylesheet')
  div.body
    h1#homeHeading Questions
    hr
    p Select an option below to create new questions or to view existing ones
    p 
    a.btn.btn-primary.btn-xl(href='/questions/Create') Create Questions
    p
    a.btn.btn-primary.btn-xl(href='/questions/View') View Questions